doctype html
html
    head
        //defaultAppName is coming from locals set in app.js
        title=defaultAppName
    body
        img(src='/files/hi.png')
        .content
            block content
                span Hello to default content
